main{
    height: 100vh;
    background: url(23d273af-938b-4ea9-b1b1-309a611a8d82_InPixio.png)no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    margin-top: 57px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
label{
    background-color: black;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}#exampleFormControlInput1{
    width: 50% !important;
}#exampleFormControlTextarea1{
    margin-top: 10%;
    color: #fff;
    padding: 5px;
    border-radius: 10px;


}