@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: url(/Assets/Img/goku.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: -100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header:hover:after{
    left: 100%;

}

.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transpare,rgba(255,255,255, .4)), transparent;
    transition: .5s;

}

.logo{
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    font-size: 1.15rem;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check{
    display: none;

}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #000;
    cursor: pointer;
    display: none;
}

/*  FOOTER  */

.pie-pagina{
    width: 100%;
    opacity: 1;
    background: rgba(0, 0, 0, .1);
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 4000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    padding: 50px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #000;
    margin-bottom: 10px;
}

i{
    font-size: 25px;
    color: #000;
    margin: 20px;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .35);
    transition: .3s ease;
}

.bxl-facebook-circle:hover{
    background-color: blue;
    color: #fff;
    box-shadow: 0 0 15px blue,0 0 45px blue,0 0 75px blue,0 0 115px blue;
}

.bxl-twitter:hover{
    background-color: #1da1f2;
    color: #fff;
    box-shadow: 0 0 15px #1da1f2,
                0 0 45px #1da1f2,
                0 0 75px #1da1f2,
                0 0 115px #1da1f2;
}

.bxl-instagram:hover{
    background-color: #ff3e00;
    color: #fff;
    box-shadow: 0 0 15px #ff3e00,
                0 0 45px #ff3e00,
                0 0 75px #ff3e00,
                0 0 115px #ff3e00;
}

.pie-pagina .grupo-1 .redes a:hover{
    color: 	#87CEEB;
}

.pie-pagina .grupo-2{
    opacity: 1;
    background-color: rgba(0, 0, 0, .1);
    padding: 15px 10px;
    text-align: center;
    color: #000;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}